


/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=TASA+Orbiter:wght@400..800&display=swap");
@import "tailwindcss";






@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    h1 {
      font-family: "Inter", sans-serif;
      color: bisque;
      cursor: default;
      font-size: xx-large;

    }
    h2 {
      font-family: "Inter", sans-serif;
      font-size: xx-large;
      color: bisque;
      cursor: default;
    }

    h3 {
        font-family: "La Belle Arore", cursive;
        color: bisque;
    }
    h4,
    h5,
    h6,
    p,
    li {
      font-family: "Inter", sans-serif;
      color: bisque;
      cursor: default;
    }
  }
}

@theme {
  /*custom cursor*/
  --handcursor: url(/bowcursor.svg) 25 25, pointer;
}
