

@plugin "daisyui";


/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";


:root {
  --font-hand: "La Belle Aurore", cursive;
}


@theme {
    --color-darkblue: #020551;
  --color-blue: #2c30a6;
  --color-lightblue: #8a8ef7;
  --color-darkyellow: #fdbe0f;
  --color-yellow: #ffd153;
  --color-pink: #ffe7e4;
  --color-beige: #fff8ee;
  --color-orange: #cd6200;
  --color-brightorange: #f2790a;
  --color-hoverorange: #d6904f;

    /*custom cursor*/
  --handcursor: url(/cursorbow.png) 1 1, pointer;
}



@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    h1 {
      font-family: "Inter", sans-serif;
      color: bisque;
      cursor: default;
      font-size: xx-large;

    }
    h2 {
      font-family: var(--font-hand);
      font-size: xx-large;
      color: bisque;
      cursor: default;
    }

    h3 {
        font-family: var(--font-hand);
        color: bisque;
        cursor: default;
    }
    h4,
    h5,
    h6,
    p,
    li {
      font-family: "Inter", sans-serif;
      color: bisque;
      cursor: default;
    }
  }
  	a, button{
		@apply cursor-(--handcursor);
	}
}


