@plugin "daisyui";

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --font-hand: "La Belle Aurore", cursive;
}

@theme {
  --color-MAWblue: #09214c;
  --color-lightblue: #d3ebff;
  --color-darkred: #701010;
  --color-beige: #f7f1e2;
  --color-hover: #d6904f;

  /*custom cursor*/
  --handcursor: url(/cursorbow.png) 1 1, pointer;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    h1 {
      font-family: "Inter", sans-serif;
      color: bisque;
      cursor: default;
      font-size: xx-large;
    }
    h2 {
      font-family: var(--font-hand);
      @apply text-beige;
      font-size: xx-large;
      cursor: default;
    }

    h3 {
      font-family: var(--font-hand);
      @apply text-beige;
      cursor: default;
    }
    h4,
    h5,
    h6,
    p,
    li {
      font-family: "Inter", sans-serif;
      @apply text-beige;
      cursor: default;
    }
  }
  a,
  button {
    @apply cursor-(--handcursor);
  }
}
