---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <!--tekst sektion start -->
  <section>
    <h1>Sløjfe</h1>
    <div>
      <p>
        Når du køber en sløjfe, er det en hyggelig overraskelse, hvilken en der gemmer sig i æsken. Én ting er dog sikker: Dit køb hjælper et hospitalsramt barn med at få deres juleønske opfyldt
        gennem Make-A-Wish.
      </p>
      <p>25% af salget går til Make A Wish</p>
      <p>En stor sløjfe måles til at være x i højde og bredde. En lille måles til at være x i højde</p>
    </div>
  </section>
</MainLayout>
