---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import betaling from "../assets/betaling.svg";
import kob1 from "../assets/kob1.png";
import kob2 from "../assets/kob2.png";
import kob3 from "../assets/kob3.png";
---

<MainLayout>
  <section>
    <section class="grid gap-10 lg:grid-cols-2 px-8 py-10 lg:mt-10 mt-30">
      <!-- Venstre kolonne -->
      <div class="space-y-6">
        <!-- stort billede -->
        <Image src={kob1} alt="Stor sløjfe" class="w-full h-auto" />

        <!-- to små billeder i grid -->
        <div class="grid grid-cols-2 gap-4">
          <Image src={kob2} alt="Lille sløjfe" class="w-full h-auto" />
          <Image src={kob3} alt="Closup" class="w-full h-auto" />
        </div>
      </div>

      <!-- højre kolonne med teksten og knapperne -->
      <div class="flex flex-col gap-4 lg:m-15">
        <!-- købs-teksten er her under -->
        <h2 class="text-3xl lg:text-5xl">Sløjfe</h2>
        <p class="mt-10 text-xl/8">
          Når du køber en sløjfe, er det en hyggelig overraskelse, hvilken en der gemmer sig i æsken. Én ting er dog sikker: Dit køb hjælper et hospitalsramt barn med at få deres juleønske opfyldt
          gennem Make-A-Wish.
        </p>
        <p>25% af salget går til Make A Wish</p>
        <p>En stor sløjfe måles til at være x i højde og bredde. En lille måles til at være x i højde</p>
        <div class="">
          <div class="grid grid-cols-3 sm:grid-cols-3 mt-10 lg:mt-10 gap-5">
            <Button variant="fjerde" size="xsmall">STOR</Button>
            <Button variant="fjerde" size="xsmall">LILLE</Button>
          </div>
          <a href="/tak"><Button variant="primary">Køb sløjfe</Button></a>
          <Image src={betaling} alt="Closup" class="w-30 h-auto" />
        </div>
      </div>
    </section>
  </section></MainLayout
>
