---
import { Image } from "astro:assets";
import inforgrafikSam from "../assets/inforgrafikSam.png";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout>
  <!--første section start -->

  <section>
    <div>
      <h2>Børn fortjener en magisk jul</h2>
      <div>
        <p>
          Joliment og Make-A-Wish har indgået et særligt samarbejde, der giver sløjferne en endnu større betydning. 25% af salget går til at opfylde ønsker for hospitalsramte børn og skabe lys i en
          svær tid. Sløjferne bliver dermed et lille symbol på håb, omsorg og fællesskab. Sammen gør de en mærkbar forskel – ét ønske ad gangen.
        </p>
      </div>
      <Button />
      <!--Billede -->
    </div>

    <!--første section slut -->

    <!--Infografik start -->
    <div>
      <figure>
        <Image src={inforgrafikSam} alt="" class="" />
      </figure>
    </div>
  </section>

  <!--Infografik slut -->

  <!-- juleønsker start -->

  <section>
    <section>
      <div>
        <h2>Juleønsker fra danske sygdomsramte børn og -unge</h2>
      </div>
    </section>

    <section>
      <div>
        <h3>Noah, 11 år</h3>
        <p>
          Noah har altid elsket musik, og på hospitalet bruger han tiden på at lytte til sine yndlingssange. Hans drøm er at få sin egen guitar, så han selv kan skabe musik og give små “koncerter” for
          sin familie.
        </p>
      </div>
    </section>
    <section>
      <div>
        <h3>Lukas, 15 år</h3>
        <p>
          Lukas drømmer om at opleve verden udenfor hospitalets vægge, og hans største juleønske er en tur til Paris. Han vil se Eiffeltårnet, smage croissanter og gå gennem de små gader, som han har
          set på billeder og i film. For Lukas ville det ikke bare være en rejse – det ville være en oplevelse
        </p>
      </div>
    </section>
    <section>
      <div>
        <h3>Ella, 7 år</h3>
        <p>
          Ella elsker at følge Yasmin og Mika på YouTube – deres videoer får hende altid til at grine, selv på svære dage på hospitalet. Hendes største juleønske er at møde dem i virkeligheden, få et
          stort kram og måske tage et billede sammen. For Ella ville det være den mest magiske oplevelse og en julegave, hun aldrig ville glemme.
        </p>
      </div>
    </section>
  </section>
</MainLayout>
