---
import { Image } from "astro:assets";
import footer from "../assets/footer-logo.png";
import facebook from "../assets/Face-ikon.png";
import instagram from "../assets/Insta-ikon.png";
import tiktok from "../assets/Tiktok-ikon.png";
---

<section class="grid grid-cols-1 lg:grid-cols-2">
  <div class="">
    <Image src={footer} alt="" class="" />
  </div>
  <div>
    <Image src={facebook} alt="" class="" />
    <Image src={instagram} alt="" class="" />
    <Image src={tiktok} alt="" class="" />
  </div>
</section>
