---

---

<div class="bg-lime-950/70 flex justify-between items-center p-6 m-10 rounded-3xl">
  <div class=""></div>

  <div class="text-lime-100 lg:text-2xl font-bold lg:ml-10">
    <a href="/" class="mr-20">Forside</a>
    <a href="/how_to" class="">Guide til dig</a>
  </div>
</div>
