---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
---

<section class="flex justify-between items-center p-10 m-10 bg-transparent">
  <div class="">
    <a href="/"><Image src={logo} alt="logo" class="h-20" /></a>
  </div>

  <div class="lg:text-xl font-regular lg:ml-10 underline">
    <a href="" class="mr-6">Samarbejdet</a>
    <a href="" class="mr-6">Om sløjfen</a>
    <a href="" class="mr-6">Køb sløjfe</a>
  </div>
</section>
