---
import { Image } from "astro:assets";
import hero from "../assets/hero.png";
import logo_header from "../assets/Logo_header.png";
---

<section class="justify-center items-center mt-10 mb-10">
  <div class="relative">
    <Image src={hero} alt="Hero image" class="w-full h-auto" />
    <Image src={logo_header} alt="Logo header" class="absolute inset-0 m-auto max-w-[50%] h-auto z-10" style="left:0; right:0; top:0; bottom:0;" />
  </div>
</section>
