---
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
    <link rel="icon" type="../assets/images/guitar-favicon.png" href="/logo.svg" />
  </head>
  <body class="min-h-screen bg-amber-50">
    <header></header>
    <slot />
  </body>
  <footer></footer>
</html>
