---
const { title } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="" type="" href="" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>

  <body class="bg-">
    <header></header>
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
